<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143366066368-ep3tcdvthnbeg6tt1im3k822lm4jo83v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143366066368-ep3tcdvthnbeg6tt1im3k822lm4jo83v</string>
	<key>API_KEY</key>
	<string>AIzaSyDM6DF_IxEtyQY2B7J4fHDOR4tZ4a5wjtk</string>
	<key>GCM_SENDER_ID</key>
	<string>143366066368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fopsys.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-1adbb</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-1adbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143366066368:ios:6868b9f1c0736ddab7dd25</string>
</dict>
</plist>